* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --brand-color: #EF5F4C;
    --shape-transparency: rgba(255, 255, 255, 0.562);
    --background-color: #FFFFFF;
    --surface-color: #F5f5f5;
    --skeleton-color: #d9d9d9;
    --text-color-primary: #313131;
    --text-color-secondary: #6c6c6c;
    
}

body {
    color:var(--text-color-secondary);
    background-color: var(--background-color);
    
}